html{
background: #e8d8c9;
}

.mainbody{
margin: 12px;
}

details {
background: #FFFFFF;
}

.word {
    font-family: "メイリオ","Hiragino Kaku Gothic Pro",Meiryo,"ヒラギノ角ゴ Pro W3","MS PGothic","MS UI Gothic",Helvetica,Arial,sans-serif;
    font-size: 230%;
    margin: revert;
}